.sort-controls {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sort-controls button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.sort-controls button:hover {
    background: var(--primary-color-hover);
}

.active-sort {
    background: var(--primary-color-hover) !important;
    color: #fff !important;
}